<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="userName">User Name</label>
      <input id="userName" formControlName="userName" type="text" />

      @if( loginForm.get('userName')?.invalid &&
      loginForm.get('userName')?.touched ){
      <div class="error-message">userName is required</div>
      }

      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" />
        @if( loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched){
        <div class="error-message">Password is required</div>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>

      @if(errorMessage){
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
    </div>
  </form>
</div>
