<div class="login-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <!-- first Name   -->
      <label for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName" type="text" />

      @if( registerForm.get('firstName')?.invalid &&
      registerForm.get('firstName')?.touched ){
      <div class="error-message">First Name is required</div>
      }

      <!-- last Name   -->
      <label for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" type="text" />

      @if( registerForm.get('lastName')?.invalid &&
      registerForm.get('lastName')?.touched ){
      <div class="error-message">Last Name is required</div>
      }

      <!-- Phone   -->
      <label for="phone">Phone</label>
      <input id="phone" formControlName="phone" type="text" />

      @if( registerForm.get('phone')?.invalid &&
      registerForm.get('phone')?.touched ){
      <div class="error-message">Phone is required</div>
      }

      <!-- email   -->
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />

      @if( registerForm.get('email')?.invalid &&
      registerForm.get('email')?.touched ){
      <div class="error-message">Email is required</div>
      }

      <!-- password   -->
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />

      @if( registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched ){
      <div class="error-message">Password is required</div>
      }

      <!-- Confirm password   -->
      <label for="password">Confirm Password</label>
      <input id="password" type="password" />

      <button type="submit" [disabled]="registerForm.invalid">Register</button>

      @if(errorMessage){
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
    </div>
  </form>
</div>
